{% extends "base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block content %}

<div class="content_size">
	<div id="top"></div>
	<div id="contain_guardians">
    <div id="contact_title">Nos gardiens</div>
      <section id="guardians">
	  <img src="http://www.codesmile.fr/side_projects/pictures/andreja.jpg" alt="andreja">
	  ANDREJA est notre deuxième Maman. Elle est toujours à nos côtés, peu importe les bons ou les mauvais moments. Elle dit souvent qu’on lui fait la journée et on est fier de ça. Il semble qu’elle soit ravie de nous avoir ;-) Son favori parmi nous est Zucchero.
	  </section>
      <section id="guardians">
	  <img src="http://www.codesmile.fr/side_projects/pictures/leonard.jpg" alt="andreja">
	  LEONARD est notre meilleur atout du côté humain quand il s’agit de jouer. Il nous désensibilise tous les jours et prend également soin de notre présentation aux expositions. Il prend en charge très sérieusement son travail et notre promotion à chaque aventure loin de la maison. Son favori est Zest.	  </section>
      <section id="guardians">
	  <img src="http://www.codesmile.fr/side_projects/pictures/sebastien.jpg" alt="andreja">
	  SEBASTIEN est notre parrain et il a toujours été entouré de chats depuis aussi longtemps qu’il puisse se souvenir.Son favori est Zen.
	  </section>
      <section id="guardians">
	  ENSEMBLE: Nous nous engageons à garantir la bonne santé de nos chats, leur sociabilité et à respecter le standard de la race Maine Coon. Ceci est important pour nous et important pour vous pour avoir une longue histoire d’amitié avec votre nouveau protégé. Nous souhaitons nous assurer que nos chatons trouvent une famille chaleureuse, accueillante, aimante et attentionnée. Notre favorite à tous est Ulala, grâce à elle nous avons découvert de nouveaux endroits, fait connaissance avec de nouveaux amis. Elle a toute notre confiance, c’est une Maman attentionnée. C’est simple: sans elle, le monde comme nous le connaissons n’existerait pas. Nous sommes fiers de l’avoir à nos côtés et de vous faire partager tout le bonheur de partager sa vie avec un Maine Coon!
	  </section>
	</div>
</div>
{% endblock %}