{% extends "base.html.twig" %}

{% block title %}Le blog{% endblock %}

{% block content %}
    <div class="content_size">
        <div id="top"></div>
    <h4> Tous les articles de la categorie Mon premier Maine Coon</h4>
                    <div class="present_titles">
                        {% for category in categories %}
                            <div> -
                                <a href="index.php?action=postandcomments&amp;id={{ category.id | raw }}">{{ category.title | raw }}</a>
                            </div>
                        {% endfor %}
                    </div>

        <ul>
            {% for i in range(1, total) %}
                <li>
                    <a href="?action=my_first_maine_coon&page={{ i }}">{{ i }}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}
