{% extends "base.html.twig" %}

{% block title %}S'inscrire{% endblock %}

{% block content %}

<div id="login_image"></div>

	<form action="index.php?action=register" method="post" id="login_form">
		<h2>Inscrivez vous</h2> 
  		<input type="email" name="email" id="email" placeholder="Email">
		<input type="password" name="password" id="password" pattern="[a-zA-Z-0-9]{3,10}" placeholder="Mot de passe">
		<button type="submit" name="login-submit" value="valider">valider</button>


    </form>    

</div>
    	{% if error %}
			<p>Une erreur s'est produite lors de l'inscription</p>
		{% endif %}
{% endblock %}