{% extends "basebackend.html.twig" %}

{% block title %}Interface admin Maine Coons{% endblock %}

{% block content %}
<div class="content_size">
  <div id="top">
  </div>
    <div id="present_cat_admin">

      <div class="contain_categories_admin">
        <div class="admin_category">
          <a href="index.php?action=display_cats"> Voir tous les chats</a>
        </div>
        <div class="admin_category">
          <a href="index.php?action=cat_register"> Voir le registre des entrées et sorties</a>
        </div>
      </div>
      <div class="contain_categories_admin">
        <div class="admin_category">
          <a href="index.php?action=edit_veterinarian"> Voir le registre sanitaire</a>
        </div>
        <div class="admin_category">
          <a href="index.php?action=cat_litters"> Voir le suivi des portées</a>
        </div>
      </div>
      <div class="contain_categories_admin">
        <div class="admin_category">
          <a href="index.php?action=edit_observations"> Voir le suivi journalier des chattons</a>
          </div>
        <div class="admin_category">
          <a href="index.php?action=edit_credit"> Voir les recettes</a>
        </div>
      </div>
      <div class="contain_categories_admin">
        <div class="admin_category">
          <a href="index.php?action=edit_debit"> Voir les dépenses</a>
        </div>
        <div class="admin_category_blank"> 
        </div>
    </div>
</div>

{% endblock %}