{% extends "basebackend.html.twig" %}
{% block title %}Liste de toutes les notes de suivi des chattons
{% endblock %}

{% block content %}

	<div class="content_size">
		<div id="top"></div>
		<h2>Liste de toutes les notes de suivi des chattons</h2>
		<div class="adding">Ajouter une nouvelle note:
			<a href="index.php?action=kitten_daily"><input class="adding_btn" type="button" value="Add"></a>
		</div>

		<table>
			<thead>
				<tr>
					<th id="title_date">Date observation</th>
					<th id="title_name">Nom</th>
					<th id="title_weight">Poids</th>
					<th>Observation</th>
				</tr>
			</thead>
			{% for allObservation in allObservations %}
				<tr>
					<td>{{ allObservation.observation_date | date('d/m/Y') }}</td>
					<td>{{ allObservation.cat_name }}</td>
					<td>{{ allObservation.weight }}</td>
					<td>{{ allObservation.daily_observation }}</td>

				{% endfor %}
			</tr>
		</table>
	</div>
</div>{% endblock %}
