{% extends "basebackend.html.twig" %}

{% block title %}Ajouter une dépense
{% endblock %}

{% block content %}
	<div class="content_size">
		<div id="top"></div>
		<h2>Ajoutez une dépense:</h2>
		<form method="post" action="index.php?action=new_debit">
			<div id="fields_vet">
				<div class="contain_vet">
					<div>
						<label>Date de valeur</label>
					</div>
					<div>
						<input type="date" name="date_debit" id="date_debit" size="13" maxlength="15" placeholder="YYYY/MM/DD">
					</div>
				</div>
				<div class="contain_vet">
					<div>
						<label>Libellé</label>
					</div>
					<div>
						<input type="text" name="item_debit" id="item_debit" size="13" maxlength="50" placeholder="Description" autofocus/>
					</div>
				</div>
				<div class="contain_vet">
					<div>
						<label>Nom du chat</label>
					</div>
					<div>
						<input type="text" name="cat_name" id="cat_name" size="13" maxlength="50" placeholder="Name" autofocus/>
					</div>
				</div>
				<div class="contain_vet">
					<div>
						<label>Valeur en euros</label>
					</div>
					<div>
						<input type="text" name="amount_debit" id="amount_debit" size="13" maxlength="50" placeholder="Amount" autofocus/>
					</div>
				</div>
			</div>

			<div id="observation_debit">
				<div>
					<label for="observation_debit">Observation</label>
				</div>
				<div>
					<textarea name="observation_debit" id="obs_debit" rows="2" cols="53" maxlength="200" placeholder="Observation"></textarea>
				</div>
			</div>


			<div class="btn_ajouter">
				<input type="submit" name="submit" value="Ajouter" id="ajouter">
			</div>
		</form>


	</div>
{% endblock %}
