{% extends "basebackend.html.twig" %}

{% block title %}Modifications{% endblock %}

{% block content %}

<div class="content_size">
<div id="top"></div>
{% for onePost in result %}	

<form action="index.php?action=update" method="post" id="edit_form">
	<p>
		<input type="hidden" name="id" id="id" value="<?php echo $_GET['id']; ?>">
	</p>
	<p> 
		<input type="text" name="title" id="title" rows="1" cols="50" maxlength="250" value="{{ onePost.title }}"/>
		<input type="text" name="category" id="category" rows="1" cols="50" maxlength="250" value="{{ onePost.category }}"/>

		<textarea name="article" id="article"  rows="10" cols="50" maxlength="250">
			{{ onePost.article }}			
		</textarea>
		<input type="text" name="author" id="author" rows="1" cols="50" maxlength="250" value="{{ onePost.author }}"/>
		<input class="btn btn-primary" type="submit" name="update" value="Update"/>
	</p>
</form>
{% endfor %}
</div>
{% endblock %}