{% extends "basebackend.html.twig" %}

{% block title %}Commentaires signalés{% endblock %}

{% block content %}
	<div id="top"></div>
	<div class="present_titles">
{% for report in reports %}
		<div class="present"> 
			<div class="text_back"> {{ report.comment }}</div> 
			<div class="together">
			<div class="button_three_back">
				<a href="index.php?action=moderateComment&amp;id={{ report.id }}" id="control_five">
					<span class="fas fa-trash-alt"></span>
					<span id="tooltip_five">Supprimer</span>
				</a>
			</div>
			</div>
		</div>
{% endfor %}
</div>
</div>
{% endblock %}